@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* styles.css หรือไฟล์ CSS ที่คุณใช้ */

/* สำหรับ Webkit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px; /* ความกว้างของ scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* สีพื้นหลังของ track */
}

::-webkit-scrollbar-thumb {
    background: #000; /* สีของ scrollbar */
    border-radius: 10px; /* ทำให้มุมของ scrollbar มีความโค้ง */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* เปลี่ยนสีเมื่อ hover */
}

/* สำหรับ Firefox */
* {
    scrollbar-width: thin; /* ทำให้ scrollbar มีความบาง */
    scrollbar-color: #000 #f1f1f1; /* สีของ thumb และ track */
}


@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}